<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="XML Configuration: %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="JSONFileAppender" fileName="logs/log.json">
            <JSONLayout></JSONLayout>
        </File>
        <Async name="AsyncAppender">
            <AppenderRef ref="JSONFileAppender"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="JSONFileAppender"/>
        </Root>
    </Loggers>
</Configuration>