<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" disableAnsi="false"/>
        </Console>
        <Console name="ConsoleJSONAppender" target="SYSTEM_OUT">
            <JsonLayout complete="false" compact="false">
                <KeyValuePair key="myCustomField" value="myCustomValue" />
            </JsonLayout>
        </Console>
        <File name="JSONFileAppender" fileName="logs/log.json" append="true">
            <JSONLayout compact="true" eventEol="true" properties="true"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="CONSOLE_JSON_APPENDER" level="ERROR" additivity="false">
            <AppenderRef ref="JSONFileAppender" />
        </Logger>
    </Loggers>
</Configuration>